button.login{
	position: fixed;
	top:10px;
	left: 900px;
	width:150px;
	height:70px;
}
button.home{
	position: fixed;
	top:10px;
	left: 1090px;
	width:150px;
	height:70px;
}
h1{
	background-image: linear-gradient(to right,#ff3333,#ffb3b3);
	position: fixed;
	top:105px;
	left: 20px;
	width:1230px;
	height: 60px;
	text-align: center;
	font-family: cursive;
	border-radius: 15px;
}
.signup{
	position: fixed;
	top:200px;
	left: 275px;
	width:600px;
	height: 250px;
	font-family: sans-serif;
	font-size: 12pt;
	border-radius: 15px;
	background-image: linear-gradient(to right,#ff3333,#ffb3b3);
	text-align: left;
	overflow: auto;
	margin: auto;
	padding: 50px 50px;
}
#span1, #span2, #span3{
	display: none;
	font-size: 10pt;
	color: white;
}

input,select{
	border-radius: 5px;
}
